<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>headoverheels</string>
    <key>CFBundleGetInfoString</key>
    <string>Head over Heels</string>
    <key>CFBundleIconFile</key>
    <string>headoverheels.icns</string>
    <key>CFBundleShortVersionString</key>
    <string>1.31</string>
    <key>CFBundleVersion</key>
    <string>1.31</string>
    <key>CFBundleName</key>
    <string>Head over Heels</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>HoHœ</string>
    <key>LSRequiresCarbon</key>
    <string>1</string>
</dict>
</plist>
