[Desktop Entry]
Name=headoverheels
GenericName=Head over Heels
Comment=Classical game with isometric graphics starring the two characters
Exec=headoverheels
Icon=headoverheels
StartupNotify=false
Type=Application
Categories=Game;ActionGame;PuzzleGame
