[Desktop Entry]
Name=headoverheels
GenericName=Head over Heels
Comment=Classic isometric game starring two characters
Exec=headoverheels
Icon=headoverheels
StartupNotify=false
Type=Application
Categories=Game;ActionGame;PuzzleGame
